<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav" aria-label="Main navigation">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>

        <li class="dropdown">
          <a href="{{ site.baseurl }}/projects/">Projects</a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a href="{{ site.baseurl }}/masters-research/">Masters Research</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/masters-research/soil-taxonomy/">Soil Taxonomy</a></li>
                <li><a href="{{ site.baseurl }}/masters-research/soil-sampling/">Soil Sampling</a></li>
                <li><a href="{{ site.baseurl }}/masters-research/soil-management-zones/">Soil Management Zones</a></li>
                <li><a href="{{ site.baseurl }}/masters-research/weed-occurrence/">Weed Occurrence</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
